{% extends "layout.html" %}

{% block nav %}
  <ul class="nav masthead-nav">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="http://evensgn.com">返回主站</a></li>
    <li><a href="http://zhiyuan.sjtu.edu.cn/articles/2396">学院官网</a></li>
    <li><a href="https://github.com/Evensgn/zy-ins-salon">GitHub 页面</a></li>
  </ul>
{% endblock %}

{% block body %}
  <form action="/query" method="post" class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">学号</div>
        <input class="form-control" name="stuid" placeholder="请输入查询的学号">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">查询</button>
  </form>
  <br/>

  {% if error_query %}
  	<div class="alert alert-danger alert-dismissible" role="alert">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	没有查询到此学号的相关记录，请重新输入哦。
  	</div>
  {% endif %}
  
  <div class="alert alert-info" role="alert" align="left">
    <p><b>News</b></p>
    <ul>
      <li>[2018-04-14] 本站点进行了更新，理论上致远理科的同学现在可以查询到完整的沙龙参与记录啦。</li>
    </ul>
    <p><b>相关说明</b></p>
    <ul>
  	  <li>本站点提供致远学术报告（包含 ZY-INS 沙龙和相关院系讲座）参与次数的查询服务，所使用的全部数据均来自 <a class="alert-link" href="http://zhiyuan.sjtu.edu.cn/articles/2396">致远学院官方网站</a> 的公开信息。 </li>
  	  <li>本站点使用的数据会定期更新（目前每小时更新一次），请注意，在两次更新之间的数据可能不是最新版本。当前使用的数据获取时间：{{ update_time }}。</li>
  	  <li>如果您发现本站点功能存在任何问题（例如查询结果和学院官网信息不一致），可以通过页面底部链接反馈。</li>
      <li>本站点是 <a class="alert-link" href="http://evensgn.com">范舟</a> 在寒假开发的，此后又进行了若干后续更新，代码公开在 GitHub 上，欢迎到 <a class="alert-link" href="https://github.com/Evensgn/zy-ins-salon">项目仓库</a> 点个 Star ;-)</li>
  	</ul>
  </div>
{% endblock %}
