<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <style>
    cn {
      font-family: "微软雅黑";
    }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Zhou Fan's Home Page">
    <meta name="author" content="Evensgn">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Zhou Fan's Home Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">

  </head>

  <body background="{{ url_for('static', filename='bg.jpg') }}">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ZY-INS 沙龙参加次数查询</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="http://evensgn.com">返回主站</a></li>
                  <li><a href="http://zhiyuan.sjtu.edu.cn">致远学院</a></li>
                  <li><a href="https://github.com/Evensgn/zy-ins-salon">GitHub</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
          	<form action="/query" method="post" class="form-inline">
						  <div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">学号</div>
						      <input class="form-control" name="stuid" placeholder="请输入查询的学号">
						    </div>
						  </div>
						  <button type="submit" class="btn btn-primary">查询</button>
						</form>
					</div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright © 2018 <a href="http://evensgn.com">Zhou Fan</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
