{% extends "layout.html" %}

{% block nav %}
  <ul class="nav masthead-nav">
    <li><a href="/">首页</a></li>
    <li><a href="http://evensgn.com">返回主站</a></li>
    <li><a href="http://zhiyuan.sjtu.edu.cn/articles/2396">学院官网</a></li>
    <li><a href="https://github.com/Evensgn/zy-ins-salon">GitHub 页面</a></li>
  </ul>
{% endblock %}

{% block body %}
  <div class="alert alert-info" role="alert" align="left">
    <p><strong>{{ report.stuid }}</strong> 同学参与 ZY-INS 沙龙 <strong>{{ report.count_zy}}</strong> 次，参与相关院系讲座 <strong>{{ report.count_other}}</strong> 次，共计 <strong>{{ report.count_all }}</strong> 次。</p>
  </div>

  <div id="summary">
    {% if not report.all_ok %}
      <div class="alert alert-danger" role="alert" align="left">
        <p>您尚未满足课程要求的参与次数：参与 ZY-INS 沙龙或讲座总数不足 16 次 :-(</p>
      </div>
    {% elif not report.zy_ok %}
      <div class="alert alert-danger" role="alert" align="left">
        <p>您尚未满足课程要求的参与次数：参与 ZY-INS 沙龙次数不足 12 次 :-(</p>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert" align="left">
        <p>您已经满足课程要求的参与次数 ;-)</p>
      </div>
    {% endif %}
  </div>

  <div class="alert alert-info" role="alert" align="left" style="max-height: 200px; overflow-x: auto">
    <p>ZY-INS 沙龙参与记录</p>
    <ul>
      {% for act_title in report.acts_zy %}
        <li>{{ act_title[0] }}</li>
      {% endfor %}
      {% if not report.has_acts_zy %}
        <li>无</li>
      {% endif %}
    </ul>
    <br/>
    <p>相关院系讲座参与记录</p>
    <ul>
      {% for act_title in report.acts_other %}
        <li>{{ act_title[0] }} <b>(x{{ act_title[1] }})</b></li>
      {% endfor %}
      {% if not report.has_acts_other %}
        <li>无</li>
      {% endif %}
    </ul>
  </div>

  <div class="alert alert-warning" role="alert" align="left">
    从 2013 级开始，致远学院、致远理科荣誉计划学生本科修业期间须修读 1 学分个性化必修课程《致远学术报告》。学生参加至少 <b>16</b> 次 ZY-INS 沙龙或讲座（其中至少 <b>12</b> 次ZY-INS沙龙），方可获得《致远学术报告》成绩，成绩将于第八学期以“P”计入成绩大表。（来源：<a class="alert-link" href="http://zhiyuan.sjtu.edu.cn/articles/2396">致远学院官方网站</a>）
  </div>
{% endblock %}
