<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <style>
    cn {
      font-family: "微软雅黑";
    }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="ZY-INS 沙龙参与次数查询">
    <meta name="author" content="Evensgn">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>ZY-INS 沙龙参与次数查询</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">

  </head>

  <body background="{{ url_for('static', filename='bg.jpg') }}">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ZY-INS 沙龙参与次数查询</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">首页</a></li>
                  <li><a href="http://evensgn.com">返回主站</a></li>
                  <li><a href="http://zhiyuan.sjtu.edu.cn/articles/2396">学院官网</a></li>
                  <li><a href="https://github.com/Evensgn/zy-ins-salon">GitHub</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="alert alert-info" role="alert" align="left">
            <p><strong>{{ report.stuid }}</strong> 同学参与 ZY-INS 沙龙（包括相关院系学术讲座）共计 <strong>{{ report.count}}</strong> 次。</p>
            {% for page in report.pages %}
              {{ page.title }} <br/>
              <ul>
                {% for block in page.blocks %}
                  <li>{{ block.title }} {% if block.multiple %} <strong>(x{{ block.count }})</strong> {% endif %}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>

          <div class="alert alert-warning" role="alert" align="left">
            从2013级开始，致远学院、致远理科荣誉计划学生本科修业期间须修读1学分个性化必修课程《致远学术报告》。学生参加至少16次ZY-INS沙龙或讲座（其中至少12次ZY-INS沙龙），方可获得《致远学术报告》成绩，成绩将于第八学期以“P”计入成绩大表。（来源：<a class="alert-link" href="http://zhiyuan.sjtu.edu.cn/articles/2396">致远学院官方网站</a>）
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="mailto:i@evensgn.com">反馈 Bug</a> | Copyright © 2018 <a href="http://evensgn.com">Zhou Fan</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>